$primary_color: #9B59B6;
$primary_color_dark: #884EA0;
$secondary_color: #F4D03F;
$background_color: #17202A;
$background_light_color: #212F3D;
$foreground_color: #F4ECF7;
$success_color: #239B56;
$error_color: #E74C3C;